@charset "utf-8";
body {
	background-color: #FFF;
}

a {
	color: $00008f;
}

.main_table {
	border-spacing: 0px;
	padding:0px;
	/* Rounded Corners */
	border: 1px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	/* Shaddow Box */
	-moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
	box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
	background-color: #33C;
	background:url(../images/topbanner_back.gif)
}

.header_link {
	color: #FFF;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-shadow:0px 0px 2px #000;
	font-weight: bold;
}


.header {
	color: #FFF;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	text-shadow:0px 0px 2px #000;
	font-weight: bold;
	text-align: center;
}

.main_body {
	background-color: #FFF;	
}

.main_table .left {
	background:url(../images/blueback.gif)
}

